:root{
	--cell-size: 40px;
	--x-dim: 0;
	--y-dim: 0;
}

::selection {
    background-color: transparent;
}



body {
	background-color: honeydew;
	width: 75%;
	height: 75%;
	cursor: default;
}

h1 {
	color: black;
}

#main-grid {
	display: grid;
	background-color:lightcoral;
	grid-template-columns: repeat(var(--x-dim),var(--cell-size));
	grid-template-rows: repeat(var(--y-dim), var(--cell-size));
	padding: 10px;
	width: 50%;
	height: auto;
	position: relative;

} 

.cell {
	background-color: white;
	border: 1px solid black;
	text-align: center;
	font-size: 20px;
	padding: 0px;
	position: relative
}


.cell-hovered{
	background-color: lightblue;
}

.cell-selected {
	background-color: lemonchiffon;
}

.cell-black {
	background-color: black;
	border: 1px solid black;
	padding: 0px;
	position: relative;
}

.guess {
	font-size: 30px;
}

.cell-label {
	font-size: 12px;
	/* float:left;
	margin: 3px; */
	position: absolute;
	top: 3px;
	left: 3px;
}

.clue-label {
	font-weight: bold;
	margin: 3px;
}

.clue {
	
}

ol.clue-list {
	list-style-type: none;
	background-color: aliceblue;
	width: 50%;
}

/* [contenteditable] {
	outline: 0px solid transparent;
} */


