:root{
	--cell-size: 0px;
	--x-dim: 0;
	--y-dim: 0;
	--main-background-color: white;
	--bar-color: #ffd260;
	--cell-border-color: black;
	--cell-background-color: white;
	--cell-highlighted-color:#c9ebff;
	--cell-selected-color: #ffde8c;
	--correct-guess-color: #295bff;
	--text-color: black;
	--clue-background: none;
	--cell-black-color: black;
	--clue-background-image: none;
	--main-background-image: none;
	--clue-width: 250px;
}

::selection {
    background-color: transparent;
}

/* html {
	height: 100%;
} */

body {
	background-color: var(--main-background-color);
	cursor: default;
	color: var(--text-color);
	background-image: var(--main-background-image);
	background-repeat: no-repeat;
    background-attachment: fixed;
	

}

#box-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#top-bar {
	display: none;
	background-color: var(--bar-color);
	padding: 20px 0px;
	position:fixed;
	top: 0;
	left:0;
	right:0;
	z-index: 1;
	text-align: center;
	font-size: 20px;
	width: 10px;
}

#full-box {
	
	display: block;
	justify-content: flex-start;
	margin: auto;
	/* padding-top: 20vh; */
	justify-content: center;
	width: fit-content;

}




#main-grid {
	display: grid;
	grid-template-columns: repeat(var(--x-dim),var(--cell-size));
	grid-template-rows: repeat(var(--y-dim), var(--cell-size));
	width: calc(var(--cell-size) * var(--x-dim) + var(--clue-width * 2));
	height: 100%;
	/* background-image: linear-gradient(#70a5e5, #e083ee); */

} 

#grid-box {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	margin: 0px;
	margin-top: 5px;

}


.cell {
	border: 1px solid var(--cell-border-color);
	text-align: center;
	font-size: 20px;
	padding: 0px;
	position: relative;
	background-color: var(--cell-background-color);
	border-collapse: collapse;
}


.cell-highlighted {
	background-color: var(--cell-highlighted-color);
}

.cell-selected {
	background-color: var(--cell-selected-color);
}

.cell-correct .guess{
	color: var(--correct-guess-color);
}

.cell-black {
	background-color: var(--cell-black-color);
	border: 1px solid var(--cell-border-color);
	padding: 0px;
	position: relative;
}

.guess {
	font-size: calc(var(--cell-size) * 0.75);
}

.cell-label {
	font-size: calc(var(--cell-size) * 0.25);
	/* float:left;
	margin: 3px; */
	position: absolute;
	top: 3px;
	left: 3px;
}

.clue-list {
	list-style-type: none;
	/* background-color: orange; */
	margin: 0px;
	background-image: var(--clue-background-image);
	font-size: medium;
	/* text-indent: 0px; */
	padding: 2px;
}

.clue-selected {
	background-color: var(--cell-highlighted-color);
}

.clue-content {
	width: 225px;
	text-indent: 0px;
	padding-left: 5px;
}

.clue-item {
	display: flex;
	margin-left: 0px;
}

.clue-num {
	margin-top: 0px;
	/* margin-left: auto; */
	width: 25px;
	display: block;
	font-weight: bold;
	text-align: right;
}

.clue-box {
	background-color: var(--clue-background);
	width: 250px;
	flex: 0 1 auto;
	margin: 0px;
	text-indent: 5px;
	background-image: var(--clue-background-image);
	/* font-size: large; */
}

div.dropzone {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	transition: visibility 175ms, opacity 175ms;
}


#nav-bar {
	background-color: var(--bar-color);
	/* margin: 0px; */
	width: 100%;
	height: 37px;
	text-indent: 5%;
	display: flex;
	align-content: center;
	align-items: center;
	padding: 2px;
}

div.menu-icon {
	width: 33px;
	height: 33px;
	background-size: 33px;
	margin: 3px;
}

div.title {
	margin: auto;
	width: 300px;
}